<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        User profile
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <!-- Content here -->
            <div class="container">
                <div class="row align-items-center">

                    {{!-- ========= user photo ========= --}}
                    <div class="col-auto">
                        <span class="avatar avatar-lg rounded"
                            style="background-image: url(./static/avatars/003m.jpg)"></span>
                    </div>
                    <div class="col">

                        {{!-- ========= User full name ========= --}}
                        <h1 class="fw-bold">{{user.firstName}} {{user.lastName}}</h1>

                        <div class="list-inline list-inline-dots text-muted">
                            <div class="list-inline-item">

                                {{!-- ========= user gender ======= --}}

                                {{!-- if user gender is male --}}
                                {{!-- {{#compare user.gender "male"}}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-man"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M10 16v5"></path>
                                    <path d="M14 16v5"></path>
                                    <path d="M9 9h6l-1 7h-4z"></path>
                                    <path d="M5 11c1.333 -1.333 2.667 -2 4 -2"></path>
                                    <path d="M19 11c-1.333 -1.333 -2.667 -2 -4 -2"></path>
                                    <path d="M12 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                </svg>
                                {{/compare}} --}}

                                {{!-- if user gender is female --}}
                                {{!-- {{#compare user.gender "female"}}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-woman"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M10 16v5"></path>
                                    <path d="M14 16v5"></path>
                                    <path d="M8 16h8l-2 -7h-4z"></path>
                                    <path d="M5 11c1.667 -1.333 3.333 -2 5 -2"></path>
                                    <path d="M19 11c-1.667 -1.333 -3.333 -2 -5 -2"></path>
                                    <path d="M12 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                </svg>
                                {{/compare}} --}}

                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-man"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M10 16v5"></path>
                                    <path d="M14 16v5"></path>
                                    <path d="M9 9h6l-1 7h-4z"></path>
                                    <path d="M5 11c1.333 -1.333 2.667 -2 4 -2"></path>
                                    <path d="M19 11c-1.333 -1.333 -2.667 -2 -4 -2"></path>
                                    <path d="M12 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                </svg>

                                {{user.gender}}
                            </div>

                            {{!-- ========= user email id ========= --}}
                            <div class="list-inline-item">
                                <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                                    <path d="M3 7l9 6l9 -6" />
                                </svg>
                                <a href="#" class="text-reset">{{user.email}}</a>
                            </div>
                        </div>
                    </div>

                    {{!-- ========= Edit Profile button ========= --}}
                    <div class="col-auto ms-auto">
                        <div class="btn-list">
                            <button id="edit-profile-btn" class="btn btn-primary" type="button" data-bs-toggle="modal"
                                data-bs-target="#modal-report">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-plus"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M8 20l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4z"></path>
                                    <path d="M13.5 6.5l4 4"></path>
                                    <path d="M16 18h4m-2 -2v4"></path>
                                </svg>
                                Edit Profile
                            </button>
                        </div>
                    </div>

                    {{!-- ========= Edit profile Modal ========== --}}
                    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                {{!-- Modle title --}}
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Profile</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    {{!-- user first name --}}
                                    <div class="mb-3">
                                        <label class="form-label">First Name</label>
                                        <input type="text" class="form-control" name="firstName"
                                            placeholder="Enter new first name">
                                    </div>

                                    {{!-- user Last name --}}
                                    <div class="mb-3">
                                        <label class="form-label">Last Name</label>
                                        <input type="text" class="form-control" name="example-text-input"
                                            placeholder="Enter new last name">
                                    </div>

                                    {{!-- user Gender --}}
                                    <div class="mb-3">
                                        <label class="form-label">Gender*</label>
                                        <input name="gender" value="male" id="gender" type="radio"> Male
                                        <input name="gender" value="female" id="gender" type="radio"> Female
                                    </div>

                                    {{!-- user Email --}}
                                    <div class="mb-3">
                                        <label class="form-label">Email address*</label>
                                        <input name="email" id="email" type="email" class="form-control"
                                            placeholder="Enter new email">
                                    </div>

                                    {{!-- upload user profile --}}
                                    <div class="mb-3">
                                        <div class="form-label">Upload Profile pic</div>
                                        <input type="file" class="form-control" enctype="multipart/form-data"
                                            name="profilePic">
                                    </div>

                                    {{!-- <label class="form-label">Report type</label>
                                    <div class="form-selectgroup-boxes row mb-3">
                                        <div class="col-lg-6">
                                            <label class="form-selectgroup-item">
                                                <input type="radio" name="report-type" value="1"
                                                    class="form-selectgroup-input" checked>
                                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                                    <span class="me-3">
                                                        <span class="form-selectgroup-check"></span>
                                                    </span>
                                                    <span class="form-selectgroup-label-content">
                                                        <span class="form-selectgroup-title strong mb-1">Simple</span>
                                                        <span class="d-block text-muted">Provide only basic data needed
                                                            for the report</span>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-selectgroup-item">
                                                <input type="radio" name="report-type" value="1"
                                                    class="form-selectgroup-input">
                                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                                    <span class="me-3">
                                                        <span class="form-selectgroup-check"></span>
                                                    </span>
                                                    <span class="form-selectgroup-label-content">
                                                        <span class="form-selectgroup-title strong mb-1">Advanced</span>
                                                        <span class="d-block text-muted">Insert charts and additional
                                                            advanced analyses to be inserted in the report</span>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="mb-3">
                                                <label class="form-label">Report url</label>
                                                <div class="input-group input-group-flat">
                                                    <span class="input-group-text">
                                                        https://tabler.io/reports/
                                                    </span>
                                                    <input type="text" class="form-control ps-0" value="report-01"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Visibility</label>
                                                <select class="form-select">
                                                    <option value="1" selected>Private</option>
                                                    <option value="2">Public</option>
                                                    <option value="3">Hidden</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Client name</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Reporting period</label>
                                                <input type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div>
                                                <label class="form-label">Additional information</label>
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div> --}}
                                <div class="modal-footer">

                                    {{!-- ======== model cancle Btn ======== --}}
                                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                                        Cancel
                                    </a>

                                    {{!-- ======== modal Edit btn ========= --}}
                                    <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-pencil-plus" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M8 20l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4z"></path>
                                            <path d="M13.5 6.5l4 4"></path>
                                            <path d="M16 18h4m-2 -2v4"></path>
                                        </svg>
                                        Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Js Events file--}}
    {{#section 'script'}}
    <script src="./javascripts/profile.js"></script>
    <script>
        $(document).ready(function () {
            new profileEvent();
        })
    </script>
    {{/section}}