<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!-- custom style --}}
  <link rel='stylesheet' href='/stylesheets/main.css' />

  {{!-- theme links --}}
  {{>main/theme-link}}

  {{!-- AJAX --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  {{!-- Jquery validation CDN --}}
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  {{!-- additional-methods for validation--}}
  <script type="text/javascript"
    src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>
    
  {{!-- Toaster CDN --}}
  <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css">

  {{!-- Sweet alert JS --}}
  <script src="/assets/js/sweetalert2@11.js"></script>

  {{!-- Font Osm CDN --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Emoji picker JS -->
  <script src="/assets/js/config.min.js"></script>
  <script src="/assets/js/util.min.js"></script>
  <script src="/assets/js/jquery.emojiarea.min.js"></script>
  <script src="/assets/js/emoji-picker.min.js"></script>

  {{!-- Emoji picker CSS --}}
  <link href="/assets/css/emoji.css" rel="stylesheet">
</head>

<body>
  <script src="/assets/js/demo-theme.min.js?1674944402"></script>

  {{!-- store user id--}}
  {{#if user}}

  {{!-- Client Socket config--}}
  <script src="/socket.io/socket.io.min.js"></script>
  <script>
    var loggedInUserId = "{{user._id}}";
    console.log("loggedInUserId => ", loggedInUserId);
    //console.log($("#user-id").data("user-id"), "userID")
      var socket = io(`http://192.168.1.174:3000`, {
        transports: ["websocket"],
        query: {
          "userId": loggedInUserId   // send logged in  user id
        }
      });
  </script>
  {{/if}}

  {{!-- navbar --}}
  {{>header}}

  {{{body}}}

  {{!-- footer --}}
  {{>footer}}
  {{!-- theme scripts --}}
  {{>main/theme-script}}

  
  {{!-- custom JS (Jquery) --}}
  {{{_sections.script}}}

  {{!-- comman JS FILE --}}
  <script src="/javascripts/comman.js"></script>
  <script>
    $(document).ready(function () {

        new commanEvents();

    })
</script>
</body>

</html>