<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!-- custom style --}}
  <link rel='stylesheet' href='/stylesheets/main.css' />

  {{!-- theme links --}}
  {{>main/theme-link}}

  {{!-- AJAX --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  {{!-- Jquery validation CDN --}}
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  {{!-- additional-methods for validation--}}
  <script type="text/javascript"
    src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>
    
  {{!-- Toaster CDN --}}
  <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css">

</head>

<body>
  <script src="/assets/js/demo-theme.min.js?1674944402"></script>

  {{!-- navbar --}}
  {{>header}}

  {{{body}}}

  {{!-- footer --}}
  {{>footer}}
  {{!-- theme scripts --}}
  {{>main/theme-script}}

  {{!-- custom JS (Jquery) --}}
  {{{_sections.script}}}
</body>

</html>