<div class="page-wrapper" id="chat-page">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Chats
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body" id="chat-page-body">
        <div class="container-xl">
            <!-- Content here -->
            <div class="col-md-12">
                <div class="row row-cards">

                    {{!-- conversation lists --}}
                    {{>chat/chat-list}}
                    
                    {{!-- view conversation --}}
                    {{#if userInfo}}
                        <div class="col-md-7" id="view-conversation">
                        {{>chat/view-chat}}
                        </div>
                    {{else}}
                        <div class="col-7" id="view-conversation">
                            <h1 class="text-center">Conversations</h1>
                        </div>
                    {{/if}}
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

{{!-- event file --}}
{{#section "script"}}
<script src="/javascripts/chats.js"></script>
<script>
    $(document).ready(function () {

        new chatsEvent();

    })
</script>
{{/section}}